<!----------- Footer ------------>
<footer class="footer-bs mt-5">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <p>Programación Web 3 - EA2</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Alumna</h4>
            <div class="col-md-6">
                <ul class="pages">
                    <li><a href="#">Julieta Iracheta - 39.625.638</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
